<footer class="container" style="margin-top: 100px;">
  <p>Copyright ©2016 Rails103
      <br>Design by
      <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>xdite</a>
      <br>Exices by
      <a href="#">shaoyu</a>
  </p>
</footer>
